<div class="container">
  <section>
    <div class="row">
      <h1>Collect digital art</h1>
    </div>
    <div class="row">
      <h4>Buy and sell NFTs from the world’s top artists</h4>
    </div>
    <!-- <table class="mt-5">      
      <tr style="height: 30px;">
        <td rowspan="2">Swap, earn, and build on the leading decentralized crypto trading protocol</td>
        <td rowspan="3">
          <img src="/assets/img/nft/MaskGroup.png" alt="">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Developers, traders, and liquidity providers participate together in a financial marketplace that is open</td>
      </tr>
      <tr>
        <td rowspan="3">
          <img src="/assets/img/nft/MaskGroup2.png" alt="">
        </td>
      </tr>
      <tr></tr>
    </table> -->
    <div class="row">
      <div class="col">
        <img src="/assets/img/nft/Group5.png" alt="" class="w-75 mx-auto d-block">
      </div>
    </div>
  </section>
  <section>
  
  </section>
  <section>
  
  </section>
  <section>
  
  </section>
  <section>
  
  </section>
  <section>
  
  </section>
</div>