// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-primary: (
  main: #3861fb,
  lighter: #c3d0fe,
  darker: #2445f9,
  200: #3861fb,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text
    )
);
$diplom-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #a6b0c3,
  lighter: #e4e7ed,
  darker: #8b97ae,
  200: #a6b0c3,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text
    )
);
$diplom-accent: mat.define-palette($mat-accent, main, lighter, darker);

// $diplom-primary: mat.define-palette(mat.$indigo-palette);
// $diplom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).

$mat-warn: (
  main: #ff1749,
  lighter: #ffb9c8,
  darker: #ff0d31,
  200: #ff1749,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text
    )
);
$diplom-warn: mat.define-palette($mat-warn, main, lighter, darker);

// $diplom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$diplom-theme: mat.define-light-theme(
  (
    color: (
      primary: $diplom-primary,
      accent: $diplom-accent,
      warn: $diplom-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($diplom-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
*:disabled {
  cursor: not-allowed !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
